* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #00008bcb;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main .loader {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.loader .loading {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
}